App.config filter=lfs diff=lfs merge=lfs -text
Form3.cs filter=lfs diff=lfs merge=lfs -text
Properties filter=lfs diff=lfs merge=lfs -text
Form2.cs filter=lfs diff=lfs merge=lfs -text
Form2.resx filter=lfs diff=lfs merge=lfs -text
Form3.Designer.cs filter=lfs diff=lfs merge=lfs -text
Meta4.csproj filter=lfs diff=lfs merge=lfs -text
Resources filter=lfs diff=lfs merge=lfs -text
obj filter=lfs diff=lfs merge=lfs -text
Form1.Designer.cs filter=lfs diff=lfs merge=lfs -text
Form1.cs filter=lfs diff=lfs merge=lfs -text
Form3.resx filter=lfs diff=lfs merge=lfs -text
bin filter=lfs diff=lfs merge=lfs -text
Form1.resx filter=lfs diff=lfs merge=lfs -text
Form2.Designer.cs filter=lfs diff=lfs merge=lfs -text
Program.cs filter=lfs diff=lfs merge=lfs -text
packages.config filter=lfs diff=lfs merge=lfs -text
